{port_specs, [

    {"darwin","priv/epqueue_nif.so", ["c_src/*.cc"],[
        {env, [
            {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -Wextra -Werror -Wno-missing-field-initializers -fno-exceptions -fno-rtti -O3"},
            {".*", "LDFLAGS", "$LDFLAGS -lstdc++"}
        ]}
    ]},

    {"linux","priv/epqueue_nif.so", ["c_src/*.cc"],[
        {env, [
            {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -Wextra -Werror -Wno-missing-field-initializers -fno-exceptions -fno-rtti -O3"},
            {".*", "LDFLAGS", "$LDFLAGS -lstdc++"}
        ]}
    ]}
]}.