{port_specs, [

    {"darwin","priv/epqueue_nif.so", ["c_src/*.cc"],[
        {env, [
            {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -Wextra -Werror -Wno-missing-field-initializers -fno-exceptions -fno-rtti -O3"},
            {".*", "LDFLAGS", "$LDFLAGS -lstdc++"}
        ]}
    ]},

    {"linux","priv/epqueue_nif.so", ["c_src/*.cc"],[
        {env, [
            {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -Wextra -Werror -Wno-missing-field-initializers -fno-exceptions -fno-rtti -O3"},
            {".*", "LDFLAGS", "$LDFLAGS -lstdc++"}
        ]}
    ]}
]}.

%because enif_binary_to_term and enif_term_to_binary are not available in previous versions.
%this can be changed if it's required by moving the encoding/decoding in erlang and in NIF only store the received binary
{require_min_otp_vsn, "R19.*"}.