{pre_hooks, [{"(linux|darwin)", compile, "make V=0 -C c_src -j 8"}]}.
{post_hooks, [{"(linux|darwin)", clean, "make -C c_src clean"}]}.

{artifacts, ["priv/epqueue_nif.so"]}.

%because enif_binary_to_term and enif_term_to_binary are not available in previous versions.
%this can be changed if it's required by moving the encoding/decoding in erlang and in NIF only store the received binary
{require_min_otp_vsn, "R19.*"}.

{project_plugins, [rebar3_hex]}.

{deps, []}.

{erl_opts, [
    warnings_as_errors,
    warn_export_all
]}.

{profiles, [
    {bench, [
        {extra_src_dirs, ["benchmarks"]}
    ]}
]}.
